{% load static tailwind_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static '/css/base.css' %}">

    {% block content_title %} {% endblock %}
		<script>
			const CSDict = {
				"dark": {
					"svg_str": `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
												</svg>				
										 `,
					"css_class": "color-scheme-night"
				},
				"white": {
					"svg_str": `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
												</svg>
										 `,
					"css_class": "color-scheme-day"
				},
				"commonality": {
					"svg_str": `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
												</svg>
										 `,
					"css_class": "color-scheme-commonality"
				}
			}
			const CSKeys = ["dark", "white", "commonality"]
			var currentScheme = 0

			function colorSchemeSwitch() {
				var nextColorScheme = (currentScheme+1) % CSKeys.length
				var schemeName = CSKeys[nextColorScheme]
				var scheme = CSDict[schemeName]

				const iconDiv = document.getElementById('colorSchemeIconDiv')
				if(!iconDiv) return

				iconDiv.innerHTML = scheme.svg_str

				document.documentElement.classList.remove(CSDict[CSKeys[currentScheme]].css_class)
				document.documentElement.classList.add(scheme.css_class)

				currentScheme = nextColorScheme
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
	</head>
	<body class="!bg-[var(--bg)] font-serif leading-normal tracking-normal">
		<header class="sticky top-0 z-50">
			<nav class="!bg-[var(--bg-alt)] mx-auto items-center flex justify-between p-2 border-b-2">
				<div class="flex items-stretch self-stretch gap-x-2">
					<div class="flex items-center hover:bg-[var(--bg2)] p-4">
						<a href="{% url 'projects:index' %}">Projects</a>
					</div>
					<div class="flex border-r-2"></div>
					<div class="flex items-center hover:bg-[var(--bg2)] p-4">
						<a href="{% url 'quests:index' %}">Quests</a>
					</div>
					<div class="flex border-r-2"></div>
					<div class="dropdown">
						<div class="flex items-center hover:bg-[var(--bg2)] p-4">	
							<a href="/stuff/">Stuff</a>
						</div>
						<div class="dropdown-content">
							<a href="/stuff/cat">Cat...</a>
							<a href="/stuff/stats">Very Usefull Data</a>
						</div>
					</div>
				</div>
				<div id="stretcher" class="flex-grow"></div>
				<div class="flex">
					<img
						src="{% static 'images/cat_run.gif' %}",
						alt="cat_run.gif",
						loading="lazy",
						class="w-14 h-full object-cover"
					>
				</div>
				<div class="flex border-1 rounded-full mx-2">
					<el-dropdown class="inline-block">
						<div>
							<button class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-s1m font-semibold inset-ring-1 inset-ring-white/5">
								<label class="cursor-pointer">
									?
								</label>
								<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400 cursor-pointer">
									<path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
								</svg>
							</button>
						</div>
						<el-menu anchor="bottom end" popover class="w-56 origin-top-right rounded-md outline-1 -outline-offset-1 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
							<div class="py-1">
								<p>This web page was made with intent to effeciently show my skill set. Also i just wanted to touch python for a bit</p>
							</div>
						</el-menu>
					</el-dropdown>	
				</div>
				<div class="flex mx-2">
					<button onclick="colorSchemeSwitch()" id="colorschemeButton">
						<div id="colorSchemeIconDiv" class="cursor-pointer">
							<script>colorSchemeSwitch()</script>
						</div>
					</button>
				</div>
			</nav>
		</header>

		<div class="container mx-auto m-6">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
