{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div 
    id="rendererDiv" 
    class="flex-grow min-h-200"
    data-laptop-obj-url="{% static 'resources/models/laptop/laptop.obj' %}"
    data-laptop-txt-url="{% static 'resources/models/laptop/laptop.png' %}"
    data-laptop-mtl-url="{% static 'resources/models/laptop/laptop.mtl' %}"
    data-laptop-root-url="{% static 'resources/models/laptop/' %}"
  ></div>
  <script type="module" src="{% static '/js/dist/main.js' %}"></script>
{% endblock %}